<ul class="nav navbar-nav">
  <li>
    <%= link_to navbar_item(_("Logged in as") + " " + profile_title, "user fa-fw"), edit_cib_profile_path(cib_id: current_cib.id), class: "profile", title: profile_title %>
  </li>
  <li class="visible-xs-inline-block">
    <%= link_to navbar_item("", "bars"), "#toggle-menu", class: "toggle", title: _("Menu") %>
  </li>
</ul>
