<div class="container-fluid">
  <div class="row">
    <h1>
      <%= icon_text "list", _("Show Configuration"), class: "page" %>
    </h1>
  </div>
  <div class="row">
    <pre><% if @xml %><code class="xml hljs"><%= @cibtext.to_s %></code><% else %><code class="crmsh hljs"><%= @cibtext.to_s %></code><% end %></pre>
  </div>
</div>
